* > {
  padding: 0;
  margin: 0;
}

#root {
  container-type: inline-size;
}

.App {
  padding-top: 1rem;
}

@container (max-width:1920px) {
  .App {
    max-width: 1500px;
    margin-inline: auto;
  }
}
@container (max-width:1500px) {
  .App {
    max-width: 1366px;
    margin-inline: auto;
  }
}
@container (max-width:1366px) {
  .App {
    max-width: 1060px;
  }
}
@container (max-width:968px) {
  .App {
    max-width: 928px;
  }
}
